<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.oldmerman.web.mapper.ArticleMapper">

    <select id="selectArticle" resultType="io.github.oldmerman.model.vo.ArticleRenderVO">
        SELECT id, article_name, article_status, `like`, created_at
        FROM o_blog.o_article
        WHERE article_type = #{type}
          AND article_status = 3
        ORDER BY RAND()
        LIMIT #{size}
    </select>

    <select id="getNewMessage" resultType="io.github.oldmerman.model.vo.ArticleRenderVO">
        SELECT id, article_name, article_status, `like`, created_at
        FROM o_blog.o_article
        WHERE article_status = 3
        AND o_article.article_writer like 'oldmerman'
        ORDER BY created_at
        DESC LIMIT 1
    </select>

    <select id="page" resultType="io.github.oldmerman.model.vo.ArticlePageDetailVO">
        SELECT
            oa.id,
            oa.article_name,
            oa.article_decr,
            oag.group_name,
            oa.article_type
        FROM o_blog.o_article oa
                 LEFT JOIN o_blog.o_article_group_link oagl
                           ON oa.id = oagl.article_id
                 LEFT JOIN o_blog.o_article_group oag
                           ON oagl.group_id = oag.id
        WHERE oa.article_status = 3
        AND oa.article_type = #{articleType}
        ORDER BY oa.id
        LIMIT #{offset}, #{size};
    </select>
</mapper>

