<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.oldmerman.web.mapper.UserMapper">

    <update id="updateUserInfo" parameterType="io.github.oldmerman.model.dto.UserManageDTO">
        UPDATE o_blog.o_user
        <set>
            <if test="dto.username != null and dto.username != ''">username = #{dto.username},</if>
            <if test="dto.password != null and dto.password != ''">password = #{dto.password},</if>
        </set>
        WHERE id = #{dto.id}
    </update>
</mapper>

