<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.oldmerman.web.mapper.UserMapper">

    <update id="updateUserInfo" parameterType="io.github.oldmerman.model.dto.UserManageDTO">
        UPDATE o_blog.o_user
        <set>
            <if test="dto.username != null and dto.username != ''">username = #{dto.username},</if>
            <if test="dto.password != null and dto.password != ''">password = #{dto.password},</if>
        </set>
        WHERE id = #{dto.id}
    </update>

    <update id="updateUserArticle">
        UPDATE o_blog.o_user u
        LEFT JOIN (
            SELECT
                writer_id,
                COUNT(*) AS article_cnt,
                COALESCE(SUM(`like`), 0) AS total_likes
            FROM o_blog.o_article
            GROUP BY writer_id
        ) t ON u.id = t.writer_id
        SET
            u.article = COALESCE(t.article_cnt, 0),
            u.`like` = COALESCE(t.total_likes, 0)
        WHERE
            u.article != COALESCE(t.article_cnt, 0)
            OR u.`like` != COALESCE(t.total_likes, 0)
    </update>
</mapper>

