oldmerman:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    host: localhost
    port: 3306
    database: o_blog
    username: root
    password: 1234
  redis:
    host: localhost
    port: 6379
    database: 0